@import './reset.css';
@import './variables.css';
/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
! rem => root element size default 16px eger html elementinin size 
! degerini 10 px yaparsam 1rem = 10px olur
! em => 16 px default

html{
  font-size: 62.5%;
}*/

body {
	font-family: var(--lato-font-family);
	font-weight: 400;
	font-size: var(--1rem);
	line-height: 1.7;
	color: var(--gray-text-color);
	padding: calc(var(--2rem) + 0.375rem);
  box-sizing: border-box;
}
.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			var(--light-green-opacity),
			var(--dark-green-opacity)
		),
		url('../images/hero.jpg');
	background-size: cover;
	background-position: top;
	/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw)); */
	/* clip-path: polygon(0 100%, 50% 0, 100% 100%, 0 100%); */
	/* clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0); */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}

.header__logo-box {
	position: absolute;
	top: var(--2-5rem);
	left: var(--2-5rem);
}
.header__logo {
	height: calc(var(--2rem) + 0.1875rem);
}
.header__text-box {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.header-primary {
	color: var(--white);
	text-transform: uppercase;
	/* font-size: var(--2rem); */
	backface-visibility: hidden;
	margin-bottom: var(--4rem);
}
.header-primary--main {
	display: block;
	font-size: calc(var(--3-5rem) + 0.25rem);
	font-weight: 400;
	letter-spacing: calc(var(--2rem) + 0.1875rem);
	/* animation-name: moveInLeft;
  animation-duration: 3s; 
  animation-delay: 3s;
  animation-iteration-count: 5;
  */
	animation: moveInLeft 1s;
	animation-timing-function: ease-out;
}
.header-primary--sub {
	display: block;
	font-size: calc(var(--1rem) + 0.25rem);
	font-weight: 700;
	letter-spacing: calc(var(--1rem) + 0.075rem);
	animation: moveInRight 1s;
	animation-timing-function: ease-out;
}

.button:link,
.button:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: var(--1rem) var(--2-5rem);
	display: inline-block;
	border-radius: var(--6-5rem);
	transition: all 0.2s;
	position: relative;
}
.button:hover {
	transform: translateY(-0.25rem);
	box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}
.button:active {
	transform: translateY(-1px);
	box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.button--white {
	background-color: var(--white);
	color: var(--gray-text-color);
}
.button::after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: var(--6-5rem);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}
.button--white::after {
	background-color: var(--white);
}
.button:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.button--animated {
	animation: moveInBottom 1s ease-out 0.75s;
	animation-fill-mode: backwards;
}
@keyframes moveInLeft {
	0% {
		opacity: 0;
		/* transform: translate(-100px, 50px); 
    transform: translateX(-100px) rotate(-50deg);*/
		transform: translateX(-6.25rem);
	}
	80% {
		transform: translateX(1.25rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		/* transform: translate(-100px, 50px); */
		transform: translateX(6.25rem);
	}
	80% {
		transform: translateX(-1.25rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	80% {
		transform: translateY(-1.25rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ! SCSS TRIALS */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$color-primary: #f9ed69;
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;
$color-text-dark: #333333;
$width-button: 150px;
$color-text-light: #ffffff;
$font-family-montserrat: "Montserrat", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin clearfix{
  &::after{
    content: '';
    clear: both;
    display: table;
  }
}
@mixin style-link-text($color){
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}
@function divide($a, $b){
  @return $a / $b;
}
nav {
  margin: divide(60, 2) * 1px;
  background-color: $color-primary;
  font-family: $font-family-montserrat;
  @include clearfix;
}
.navigation {
  list-style: none;
  float: left;
  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin-left: 15px;
    }
    a{
      @include style-link-text($color-text-dark);
    }
  }
}
.buttons{
  float: right;
}
%btn-placeholder{
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  width: $width-button;
  @include style-link-text($color-text-light);
}
.btn-main{
  &:link{
    @extend %btn-placeholder;
    background-color: $color-secondary;
  }
  &:hover{
    background-color: darken($color-secondary, 15%);
  }
}
.btn-hot{
  &:link{
    @extend %btn-placeholder;
    background-color: $color-tertiary;
  }
  &:hover{
    background-color: lighten($color-secondary, 15%);
  }
} */